{# テンプレートのロード #}
{% extends "q/base.html" %}

{# タグライブラリ #}
{% load tags %}

{% block title %}
Blog
{% endblock %}

{% block header %}
<h1><a href="{% url 'img:q_blog' %}">QuerySet</a>ブログサイトタイトル</h1>
<div>
    -{{ selected_category }}-
    <br/>
    <form method="get" action="{% url 'img:q_blog' %}">
        <select name="category" onchange="submit(this.form)">
            <option value=""></option>
            {% for category in category_list %}
                <option value="{{ category.id }}" {% if category.id|num_to_str == selected_category %}selected{% endif %}>{{ category.id }}:{{ category.category_name }}</option>
            {% endfor %}
        </select>
    </form>
</div>
<div class="p-5">
    <div>{{ blog_list|length }}件</div>
    <table>
        <thead>
            <tr>
                <th style="width:5rem;">カテゴリ</th>
                <th style="width:10rem;">タイトル</th>
                <th>画像</th>
            </tr>
        </thead>
        <tbody>
            {% for blog in page_obj %}
            <tr>
                <td style="height:8rem;">{{ blog.category__category_name }}</td>
                <td>{{ blog.title }}</td>
                <td><img src="/media/{{ blog.image }}" style="width:5rem;" /></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div>
        {% include 'q/pagenation.html' %}
    </div>
</div>
{% endblock %}

{% block content %}

{% endblock %}
